tqdm
numpy==1.22.3
pillow==9.5.0
matplotlib
scipy
chumpy
tensorboard
fvcore
iopath
plyfile
tyro
dearpygui==1.9.0
roma
colour-science
git+https://github.com/NVlabs/nvdiffrast
git+https://github.com/facebookresearch/pytorch3d.git
submodules/diff-gaussian-rasterization
submodules/simple-knn
